[run]
source = src/
concurrency = multiprocessing,thread
parallel = true

[report]
# These regexes find lines that are partially or wholly ignored during
# reporting.
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = htmlcov
